@tailwind base;
@tailwind components;
@tailwind utilities;

.size {
  width: 75vw;
  margin: 0 auto;
}
.margin {
  margin: 50px auto;
}
.drawer-side a.active {
  color: white;
}
.drawer-side a {
  background-color: transparent;
}
